.cartContainer {
  flex: 1;
  background-color: white;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
}

.heading {
  color: var(--red);
}

.emptyCartContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.emptyCartQuote {
  color: var(--rose-900);
  font-weight: 700;
  font-size: small;
}

.totalOrderPrice {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.orderTotalLabel {
  font-size: medium;
  columns: var(--rose-500);
}

.totalPrice {
  font-weight: bold;
  color: var(--rose-900);
}

.message {
  display: flex;
  gap: 5px;
  background-color: var(--rose-50);
  justify-content: center;
  padding: 10px;
  font-size: small;
  border-radius: 10px;
}

.boldText {
  font-weight: 500;
}

.confirmButton {
  width: 100%;
  margin-top: 20px;
  padding: 10px 0;
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--red);
  color: var(--rose-100);
  border: none;
}

@media only screen and (max-width: 600px) {
  .cartContainer {
    flex: none;
  }
}